*.o
moc_*.cpp
*.pro.user*
*.pro.qtds
ui_*.h
qrc_resources.cpp
moc_predefs.h
hairless-midiserial
hairless-midiserial.exe
*~
Makefile
Makefile.Debug
Makefile.Release
object_script.*
*#
.qmake.stash
release/
debug/
translations.db
.claude/
